# OS Artifacts
.DS_Store

# IDE Artifacts
.idea
.vscode

# NPM Artifacts
node_modules

# TypeScript Artifacts
*.tsbuildinfo

# TurboRepo Artifacts
.turbo

# Storybook Artifacts
.storybook

# DotEnv Artifacts
.env